---
layout: base.njk
---
<div class="page-intro">
  {% if title %}
  <h1 class="page-title">{{ title }}</h1>
  {% endif %}
</div>
<div class="prose page-body">
  {{ content | safe }}
</div>
